<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 - Passé le temps d'attente de la passerelle</title>
</head>
<body>
    <h1>500 - Passé le temps d'attente de la passerelle</h1>
    <p>Le serveur a pris trop de temps pour répondre. Veuillez réessayer ultérieurement.</p>

    <!-- Lien de retour à la page d'accueil -->
    <p><a href="{% url 'index' %}">Retour à la page d'accueil</a></p>
</body>
</html>